.btnHeaderUpContainer {
  font-size: 0.95rem;
  font-weight: bolder;
  display: block;
  width: 140px;
  height: 40px;
  background-color: rgba(11, 30, 11, 0.912);
  border: 1px solid rgba(11, 30, 11, 0.912);
  color: rgba(255, 255, 255, 0.95);
  outline: 1px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnHeaderUpContainer:is(:hover, :focus) {
  background-color: rgb(27, 134, 27);
  border-color: rgb(27, 134, 27);
}
