.bottomHeaderContainer {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media only screen and (min-width: 1200px) {
  .bottomHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.imgBottomHeaderContainer {
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  .imgBottomHeaderContainer {
    width: 412px;
  }
}
