* {
  box-sizing: border-box;
}
body {
  background-color: rgba(255, 255, 255, 1);
  font-family: "Roboto";
  letter-spacing: 0.3px;
  margin: 0;
}
body.no-scroll {
  overflow: hidden;
  position: fixed;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
